.vscode/launch.json

/__pycache__
__pycache__/uppaal_utils.cpython-310.pyc
__pycache__/parser.cpython-310.pyc
__pycache__/utils.cpython-310.pyc
__pycache__/uppaal_utils.cpython-310.pyc
MutRoSe-UPPAAL-Generator.code-workspace
models/test.xml
models/empty_model_with_goal_model.xml
models/empty_model_new_goal_model.xml
models/pretty_precondition_trans.xml
.VSCodeCounter/
